<!-- Add.cshtml -->
@model MVC.Models.EmployeeModel

<h2>Add New Employee</h2>
<br>
<form asp-action="Add" method="post">
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" />
    </div><br>
    <div>
        <label asp-for="Address">Address:</label>
        <input asp-for="Address" />
    </div><br>
    <div>
        <label asp-for="Dept_ID">Department ID:</label>
        <input asp-for="Dept_ID" />
    </div><br>
    <button type="submit">Submit</button>
</form>